{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "plugins": [
    "json",
    "promise"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:promise/recommended",
    "plugin:json/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:node/recommended"
  ],
  "rules": {
    "eol-last": [ "error", "always" ],
    "no-var": "error",
    "semi": [ "error", "always" ],
    "prefer-arrow-callback": "error",
    "promise/always-return": "off",
    "promise/catch-or-return": "off",
    "no-console": [
      "error", {
        "allow": [ "warn", "error" ]
      }
    ],
    "comma-dangle": [ "error", "never" ],
    "quotes": [ "error", "double" ],
    "no-magic-numbers": [
      "error", {
        "ignoreArrayIndexes": true,
        "ignore": [ 0, 1, 2 ]
      }
    ]
  }
}
